:root {
  --brand: #002677;
  --white: #ffffff;
  --surface: #f4f4f4;
  --highlight: #e5f8fb;
  --warm: #faf8f2;
  --accent: #196ecf;
  --impact: #d14600;
  --text-body: #333333;
  --border-decorative: #b3babc;
  --border-form: #697277;
}
